@import "tailwindcss";

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

/* Brand Base Colours */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --sage: #7C8A6A;
}

/* Apply base styling */
body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Smooth links */
a {
  text-decoration: none;
  color: inherit;
}

